<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.zotov.features.word_game">

    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnEnglishWords" />
    </application>
</manifest>